@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 44%, rgba(0,0,0,1) 45%, rgba(252,255,251,1) 46%);
}

h1 {
    text-align: center;
}
form {
    display: inline;
  }
  main {
    width: 500px;
    margin: 2em auto;
    background: rgb(255,0,0);
    background: linear-gradient(117deg, rgba(255,0,0,1) 44%, rgba(0,0,0,1) 45%, rgba(252,255,251,1) 46%);
    border: solid 5px black;
    padding: 20px;
  }
  main form label {
    width: 6em;
    display: inline-block;
  }
  main form input {
    width: 25em;
    padding: 0.5em;
    border-radius: 20px;
  }
  main form button {
    margin-top: 1em;
    font-size: 1.1em;
    border-radius: 10px;
  }
  form div {
    margin-bottom: 0.5em;
  }
  form div:last-of-type {
  text-align: center;
}

.poke-card {
    display: inline-block;
    height: 200px;
    width: 200px;
    text-align: center;
    background-image: url(../Poké_Ball_icon.svg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    padding-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  }